<div class="container">
  <div class="row align-items-center justify-content-center">
    <div
      class="flickity-viewport-visible"
      data-flickity='{"imagesLoaded": true, "initialIndex": 6, "pageDots": false, "prevNextButtons": false, "contain": true}'
    >
      <div class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0">
        <!-- Brand -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
          {{> logotype/lincoln-memorial}}
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0">
        <!-- Brand -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
          {{> logotype/si-logo}}
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0">
        <!-- Brand -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
          {{> logotype/archives-logo}}
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0">
        <!-- Brand -->

        <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
          {{> logotype/anc-logo}}
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0">
        <!-- Brand -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
          {{> logotype/jefferson-memorial}}
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0">
        <!-- Brand -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
          {{> logotype/mtvernon-logo}}
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0">
        <!-- Brand -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
          {{> logotype/lincoln-memorial}}
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0">
        <!-- Brand -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
          {{> logotype/si-logo}}
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0">
        <!-- Brand -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
          {{> logotype/archives-logo}}
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0">
        <!-- Brand -->

        <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
          {{> logotype/anc-logo}}
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0">
        <!-- Brand -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
          {{> logotype/jefferson-memorial}}
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0">
        <!-- Brand -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
          {{> logotype/mtvernon-logo}}
        </div>
      </div>
    </div>
  </div>
</div>
