<div
  class="modal fade"
  id="modalExample"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalExampleTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Close -->
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>

        <!-- Image -->
        <div class="text-center border-bottom">
          <img
            src="{{webRoot}}/assets/img/brand.svg"
            alt="..."
            class="img-fluid mb-2"
            style="width: 200px"
          />
        </div>

        <!-- Heading -->
        <h2 class="fw-bold text-center mb-0 mt-n5" id="modalExampleTitle">
          Pay with
          <img
            class="img-fluid ms-n4"
            src="assets/img/icons/payment-methods/venmo.svg"
            alt="Venmo"
            style="max-width: 150px"
          />
        </h2>

        <!-- Text -->
        <p class="fs-lg text-center text-muted mb-2 mb-md-2 mt-n6">
          Please include the child’s name and school in the memo line as well as
          a contact number.
        </p>
        <div class="row">
          <div class="col"></div>
          <div class="col-8 align-self-center">
            <!-- iPhone -->
            <div class="device device-iphonex">
              <img
                src="assets/img/icons/payment-methods/venmo-dc.jpeg"
                class="device-screen"
                alt="..."
              />
              <img
                src="assets/img/devices/iphonex.svg"
                class="img-fluid"
                alt="..."
              />
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </div>
  </div>
</div>
